@media (max-width: 575.98px) {
    #all-phone {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #staticBackdropLabel {
        margin-left: 70px;
        text-shadow: 2px 1px 1px #d20d0d;
        font-size: 2rem;
    }
}

@media (min-width: 575.98px) {
    #all-phone {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .phones {
        width: auto;
    }
}

@media (min-width: 992px) {
    #all-phone {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}